/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* root */
:root {
    /* font */
    --fw-title:600;
    --fw-body:200;
    --fw-smallText:400;
    --fw-tagt:600;

    --fs-title:1.125rem;
    --fs-body:.875rem;
    --fs-smallText:.75rem;
    --fs-tagt:.625rem;

    /* color */
    --text-tag:#883AE1;
    --bg-tag:#E6D6FC;
    --bg-body:#FAFAF9;
    --hr:#E5EAF0;
    --bg-card:#FFFFFF;
    --title:#20293A;
    --body-text:#6C727F;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg-body);

    font-family: "Sora", sans-serif;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
body .container-card {
    width: 336px;
    box-shadow: 8px 11px 21px -7px rgba(0,0,0,0.21);
    background: var(--bg-card);
    border-radius: 20px;
    overflow: hidden;
}
.container-card .card {
    width: 100%;
    height: auto;
}
.card .cover {
    padding: 16px;
    width: 336px;
    height: 152px;
}
.cover img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0 16px 20px 16px;
    width: 100%;
}
.content .text-tag {
    padding: 4px 8px;
    background: var(--bg-tag);
    color: var(--text-tag);
    width: fit-content;
    font-size: var(--fs-tagt);
    font-weight: var(--fw-tagt);
    border-radius: 16px;
}
.content .title-text {
    margin-top: 10px;
    font-size: var(--fs-title);
    color: var(--title);
    font-weight: var(--fw-title);
    white-space: nowrap;
}
.content .body-text {
    font-size: var(--fs-body);
    font-weight: var(--fw-body);
    color: var(--body-text);
    line-height: 22px;
}
.card hr {
    border: 1px solid var(--bg-body);
}
.card .foot-card {
    padding: 20px 16px;
}
.foot-card p {
    font-size: var(--fs-smallText);
    font-weight: var(--fw-smallText);
    color: var(--body-text);
}
